<div class="wholePage">
  

<div class="margin-bottom-xs">
  <button class="reset btn-gradient-1" (click)="openAboutHospital()"> About hospitals</button>
  <button class="reset btn-gradient-1" (click)="addHospital()">+ Add Hospital</button>
  
</div>

<div>

<div id="demo">

 
  <!-- <h1>Material Design Responsive Table</h1>
    <h2>Table of my other Material Design works (list was updated 08.2015)</h2> -->

  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th >ID</th>
          <th>Hospital Name</th>
          <th>About Hospital</th>
          <th>Bed Avalabilty</th>
          <th>Price</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr> 
      </thead>
      <tbody>
        <tr *ngFor="let hospital of hospitals; let idx = index" >
          <td data-title="ID">{{hospital.id}}</td>
          <td data-title="Name">{{hospital.hospital_name}}</td>
          <td data-title="Link" *ngIf="hospital.hospital_website != '' ">
            <a href={{hospital.hospital_website}} target="_blank">{{hospital.hospital_name}}</a>
          </td>
          <td data-title="Status">{{hospital.hospital_bed}}</td>
          <td data-title="Status">{{hospital.hospital_price}}</td>
          <td data-title="Delete ">
            <mat-icon class="iconClass edit" aria-hidden="false" aria-label="Example home icon" (click)=editHospital(hospital)>edit</mat-icon>
           </td>
          <td data-title="Delete">
            <mat-icon  class="iconClass delete" aria-hidden="false" aria-label="Example home icon" (click)=deleteHospital(hospital)>delete_outline</mat-icon>
           </td>
        </tr>


        <!-- <tr>
          <td data-title="ID">2</td>
          <td data-title="Name">Dr. Susheela Tiwari Government Hospital</td>
          <td data-title="Link">
            <a href="https://nainital.nic.in/public-utility/sushila-tiwari-hospital/" target="_blank">Sushila Tiwari</a>
            <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
          </td>
          <td data-title="Status">2 beds</td>
        </tr>
        <tr>
          <td data-title="ID">3</td>
          <td data-title="Name">Max Hospital</td>
          <td data-title="Link">
            <a href="https://www.maxhealthcare.in/" target="_blank">Website</a>
            <a href="https://www.maxhealthcare.in/public/covid-19-vaccination/" target="_blank">covid 19 vaccination</a>
          </td>
          <td data-title="Status">3 beds</td>
        </tr>
        <tr>
          <td data-title="ID">4</td>
          <td data-title="Name">Govt hospital sec 40</td>
          <td data-title="Link"><a href="https://codepen.io/zavoloklom/pen/dIgco" target="_blank">WEBSITE</a></td>
          <td data-title="Status">4 beds</td>
        </tr>
        <tr>
          <td data-title="ID">5</td>
          <td data-title="Name">Govt hospital sec 38</td>
          <td data-title="Link">
            <a href="https://codepen.io/zavoloklom/pen/wtApI" target="_blank">WEBSITE</a>
          </td>
          <td data-title="Status">full</td>
        </tr>
        <tr>
          <td data-title="ID">6</td>
          <td data-title="Name">Forties Mohali</td>
          <td data-title="Link">
            <a href="https://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Vaccination</a>
          </td>
          <td data-title="Status">Completed</td>
        </tr>
        <tr>
          <td data-title="ID">7</td>
          <td data-title="Name">Forties CHD</td>
          <td data-title="Link">
            <a href="https://codepen.io/zavoloklom/pen/Gubja" target="_blank">Covid</a>
          </td>
          <td data-title="Status">In progress</td>
        </tr>
        <tr>
          <td data-title="ID">8</td>
          <td data-title="Name">Forties Delhi</td>
          <td data-title="Link">
            <a href="https://codepen.io/zavoloklom/pen/yaozl" target="_blank">helpline and about forties</a>
          </td>
          <td data-title="Status">11 beds</td>
        </tr> -->

      </tbody>
    </table>
  </div>

</div>