.wholebody {
    background-color: #776d40;
    background-image: url("https://images.pexels.com/photos/3951628/pexels-photo-3951628.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

 
  #footer {
    margin-top: 80px;
    padding: 1.2em 0;
    background: rgb(255, 254, 254);
    bottom: 0;
    border-radius: 10px;
    margin-right: -33px;
    text-align: center;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 0.54em;
    text-transform: uppercase;
  
  }
  
  header a, header a:visited {
    color: rgb(22, 149, 233);
    text-decoration: none;
  }
    
  #templatemo_wrapper {
    width: 680px;
    margin: 0 auto;
    background-color:#b6b6b6;
    }
      
      
      #templatmeo_header {
    width: 100%;
        padding-top: 20px;
        margin: 0 auto;
        position: top;
    background-color:#ffffff;
        border : 0;
       
    }
    div#jaune {
  
      background-color:#ffdd00;
          padding: 1em;
          vertical-align:middle;
          text-align: center;
           margin-top: 20px;  
          border-radius: 10px 10px 0 0;
      }
  
      div#contenu22 { 
        
    
        background-color:#ffffff;
          
        padding: 1.5em 2.1em;
        vertical-align:middle;
        
        
        border-radius: 0 0 10px 10px;  
          
    }
  
    h1.logo    {
      
      margin-left: -23px;
  
    
     
  }  
  
  #col1
  {
  
   float:left;
  padding: 5px;
  width: 150px;
  }
  
    #col2
  {
  
   float:left;
  padding: 5px;
  width: 150px;
   margin-left: 150px;
  }
  
  
  
       div#uno {
  
  padding: 1.5em;
   vertical-align:middle;
   
   border-radius: 10px 10px 0 0;
  
  }
  body {
  
      background-color:rgb(240, 240, 240)
        
  }
  
    
    
  nav {
    padding:5px;
    background:white;
      align:center;
  }
    
  
  div#social { 
        
    background-color:#ffffff;
     
    margin-top: 20px;   
     padding: 1.5em 2.1em;
     vertical-align:middle;
     
     border-radius: 10px 10px 10px 10px;
       
       
  }
    
  div#costumer-services { 
        
    background-color:#ffffff;
     
    margin-top: 20px;   
     padding: 1.5em 2.1em;
     vertical-align:middle;
     
     border-radius: 10px 10px 10px 10px;
       
       
  }
  
  img {
    height: auto;
  }
  
  h1.logo    {
      
    margin-left: -23px;
  
  }
  
  .hide_mobile {
    display: none !important;
  }
  
  p {
    font-family:Arial;
    font-size: 1.1em;
                
    
  }
  
  h1 {
    font-family:Arial;
    font-size: 1.2em;
          font-color: #515151;
         font-weight: bold 
         
    
  }
  
  h2 {
    font-family:Arial;
    color: #009ee0; 
    font-size: 1.15em;
         
    
  }
  
  div#covid-section {
   
    background-color:#ffffff;
     
    margin-top: 20px;   
     padding: 1.5em 2.1em;
     vertical-align:middle;
     
     border-radius: 10px 10px 10px 10px;
  }
  
  div#costumer-services { 
        
    background-color:#ffffff;
     
    margin-top: 20px;   
     padding: 1.5em 2.1em;
     vertical-align:middle;
     
     border-radius: 10px 10px 10px 10px;
       
       
  }
  
  div#covid-cases {
    
    background-color:#ffffff;
     
    margin-top: 20px;   
     padding: 1.5em 2.1em;
     vertical-align:middle;
     
     border-radius: 10px 10px 10px 10px;
  }
  
  a    {
      
  color: #1b8cd8; 
  text-decoration:none;
  font-weight: bolder;
     
  }
  
  div#youtube-player { 
        
    background-color:#ffffff;
     
    margin-top: 20px;   
     padding: 1.5em 2.1em;
     vertical-align:middle;
     
     border-radius: 10px 10px 10px 10px;
       
       
  }