<div class="wholePage">
  


    
    <div>
    
    <div id="demo">
    
         
      <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
      <div class="table-responsive-vertical shadow-z-1">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th >ID</th>
              <th>Hospital Name</th>
              <th>About Hospital</th>
              <th>Bed Avalabilty</th>
              <th>Price</th>
              <th></th>
              <!-- <th>Delete</th> -->
            </tr> 
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitals; let idx = index" >
              <td data-title="ID">{{hospital.id}}</td>
              <td data-title="Name">{{hospital.hospital_name}}</td>
              <td data-title="Link" *ngIf="hospital.hospital_website != '' ">
                <a href={{hospital.hospital_website}} target="_blank">{{hospital.hospital_name}}</a>
              </td>
              <td data-title="Status">{{hospital.hospital_bed}}</td>
              <td data-title="Status">{{hospital.hospital_price}}</td>
              <td data-title="Delete ">
                  <button class="bookbtn" (click)=bookHospital(hospital)>Book</button>
               </td>
            </tr>
    
          </tbody>
        </table>
      </div>
    
    </div>