<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <!-- <img src="https://preview.webpixels.io/web/img/logos/clever-light.svg" class="h-8" alt="..."> -->
        <img src="../../assets/coronavirus_logo-2.jpg" class="h-8" alt="...">

    </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" routerLink=""
           aria-current="page">Hospitals listing</a>
          <!-- <a class="nav-item nav-link" >Vaccination</a> -->
          
          <a class="nav-item nav-link" routerLink="/cylinders">Cylinders</a>
          <a class="nav-item nav-link" routerLink="/booking">Search booking</a>
        </div>
        <!-- Right navigation -->
        <div class="navbar-nav ms-lg-4">
          <a class="nav-item nav-link" routerLink="/aboutus"  >About Us</a>
          <a class="nav-item nav-link" routerLink="/form"  >covid form</a>
          
        </div>
        <!-- Action -->
        <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
          <a routerLink="/about"  class="btn btn-sm btn-primary w-full w-lg-auto">
            About Covid 
          </a>
        </div>
      </div>
    </div>
  </nav>
