



<div class="wholebody">
    <div id="templatemo_wrapper">
        <div id="jaune">
            <h1><img class="hide_mobile" src="/assets/alerts.png">CANADA COVID-19 Alert </h1>
        </div>
        <!-- <div id="contenu22">
            <p>Rolling updates on coronavirus disease (COVID-19). </p>
            <p>To know the evolution of the situation, <a target="_blank" href="https://twitter.com/drjoeycadieux">see
                    this page</a>.<br>
            </p>
        </div> -->


        <!-- <div id="social">
            <p>Find Us On Social Media</p>
            <a target="_blank" href="https://twitter.com/drjoeycadieux">Twitter</a>
            <br />
            <a target="_blank" href="https://facebook.com">Facebook</a>
            <br />
            <a target="_blank" href="/main/faq.html">FAQ</a>
            <br />
            <a target="_blank" href="/pages/support/">Support</a>
        </div> -->



        <div id="costumer-services">
            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
                Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without
                special treatment.</p>
            <p>For More Info Contact Me Via Email <a
                    href="beni.gurpreet01@gmail.com">Email Me</a></p>
        </div>


        <div id="covid-section">
            <h1>COVID-19 INFO</h1>
            <p>
                To prevent the spread of COVID-19:
                • Clean your hands often. Use soap and water, or an alcohol-based hand rub.

                • Maintain a safe distance from anyone who is coughing or sneezing.

                • Wear a mask when physical distancing is not possible.

                • Don’t touch your eyes, nose or mouth.

                • Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.

                • Stay home if you feel unwell.

                • If you have a fever, cough and difficulty breathing, seek medical attention.

                Calling in advance allows your healthcare provider to quickly direct you to the right health facility.
                This protects you, and prevents the spread of viruses and other infections.
                Masks
                Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone
                do not protect against COVID-19, and should be combined with physical distancing and hand hygiene.
                Follow the advice provided by your local health authority.
            </p>
        </div>


        <div id="covid-cases">
            <h1>COVID-19 STATS</h1>
            <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%"
                height="600px"></iframe>
        </div>


        <div id="youtube-player">
            <h1>RECENT NEWS</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MhjBCeuqesU?controls=0" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>



    </div>
</div>